# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Banco de dados local
*.db
*.sqlite3

# Ambiente
.env

# Sistema operacional / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
